body {
  font-family: "Roboto";
  text-align: center;
}

h1, h2, h3 {
  font-family: "Roboto Slab";
}

p {
  color: #8f8f8f;
  font-size: 1.25rem;
}

/* Headings */

.section-heading {
  font-size: 3rem;
}

/* Navigation Bar */
.navbar {
  background-color: #243E2C;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 12px;
  font-size: 1.5rem;
}

/* Title */
#title {
  background-color: #D6CEBD;
}

.btn {
  background-color: #243E2C;
}

.btn:hover {
  background-color: #D6CEBD;
  color: #000000;
}

.button-icon {
  padding-right: 3px;
}

/* Features */
.container-fluid {
  padding: 3% 15%;
}

.features-text {
  font-size: 1.1rem;
  font-family: "Roboto Condensed";
}
.icon {
  color: #243E2C;
  margin-bottom: 1rem;
}

/* Testimonials Section */
#testimonials {
  background-color: #D6CEBD;
  color: #243E2C;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Scoutmaster Letter */
.scoutmaster-letter {
  padding: 3% 15%;
  padding-bottom: 0%;
  text-align: left;
}

.scoutmaster-section-heading{
  text-align: center;
}

.signature{
  padding: 0% 15%;
  align-items: center;
};

/* Call to action */
.cta {
  background-color: #243E2C;
  font-family: "Roboto-Bold";
}
